### Variable Assignment

In [2]:
name_of_var = 2

In [3]:
x = 2
y = 3

In [4]:
z = x + y
z

5

### Lists

In [5]:
[1,2,3]

[1, 2, 3]

In [6]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [7]:
my_list = ['a','b','c']

In [8]:
my_list.append('d')

In [10]:
my_list

['a', 'b', 'c', 'd']

In [11]:
my_list[0]

'a'

In [12]:
my_list[1]

'b'

In [13]:
my_list[1:]

['b', 'c', 'd']

In [46]:
my_list[:1]

['a']

In [47]:
my_list[0] = 'NEW'

In [48]:
my_list

['NEW', 'b', 'c', 'd']

In [50]:
nest = [1,2,3,[4,5,['Python']]]

In [51]:
nest[3]

[4, 5, ['Python']]

In [52]:
nest[3][2]

['Python']

In [53]:
nest[3][2][0]

'Python'

### Dictionaries

In [54]:
d = {'key1':'item1','key2':'item2'}

In [55]:
d

{'key1': 'item1', 'key2': 'item2'}

In [56]:
d['key1']

'item1'

### Sets

In [61]:
{1,2,3}

{1, 2, 3}

In [62]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [63]:
1 > 2

False

In [64]:
1 < 2

True

In [65]:
1 >= 1

True

In [66]:
1 <= 4

True

In [67]:
1 == 1

True

In [68]:
'hi' == 'bye'

False

## Logic Operators

In [69]:
(1 > 2) and (2 < 3)

False

In [70]:
(1 > 2) or (2 < 3)

True

In [71]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [75]:
if 1 < 2:
    print('True!')

Yep!

In [76]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [77]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [78]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [79]:
seq = [1,2,3,4,5]

In [80]:
for item in seq:
    print(item)

1
2
3
4
5

In [81]:
for item in seq:
    print('lol')

lol
lol
lol
lol
lol

In [83]:
for melon in seq:
    print(melon+melon)

2
4
6
8
10

## while Loops

In [84]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [85]:
range(5)

range(0, 5)

In [86]:
for i in range(5):
    print(i)

0
1
2
3
4

In [87]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [88]:
x = [1,2,3,4]

In [89]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [90]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [91]:
def square(x):
    return x**2

In [92]:
out = square(2)

In [93]:
print(out)

4

## lambda expressions

In [94]:
def times2(var):
    return var*2

In [95]:
times2(2)

4

In [96]:
lambda var: var*2

## map and filter

In [97]:
seq = [1,2,3,4,5]

In [98]:
map(times2,seq)

In [99]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [100]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [101]:
filter(lambda item: item%2 == 0,seq)

In [102]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [103]:
st = 'hello my name is Maggie'

In [104]:
st.lower()

'hello my name is maggie'

In [105]:
st.upper()

'HELLO MY NAME IS MAGGIE'

In [106]:
st.split()

['hello', 'my', 'name', 'is', 'Maggie']

In [107]:
tweet = 'Go RCB! #RCB'

In [108]:
tweet.split('#')

['Go RCB! ', 'RCB']

In [109]:
tweet.split('#')[1]

'RCB'

In [110]:
d

{'key1': 'item1', 'key2': 'item2'}

In [111]:
d.keys()

dict_keys(['key1', 'key2'])

In [112]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [113]:
lst = [1,2,3]

In [114]:
lst.pop()

3

In [115]:
lst

[1, 2]

In [116]:
'x' in [1,2,3]

False

In [14]:
'x' in ['x','y','z']

True